/ExS_Log/build/
/ExS_Query/dist/
/Libraries/JExcel/Java_to_Excel/build/
/exs_1.2/nbproject/private/
/exs_1.2/build/
/exs_1.2/dist/
/ExS_Admin/dist/
/Exs_Admin_Only_Read/nbproject/private/
/ExS_Admin_Only_Read/nbproject/private/
/ExS_Admin_Only_Read/build/
/ExS_Admin_Only_Read/dist/
/ExS_BackUp/nbproject/private/
/Admin_lectura/nbproject/private/
/Admin_lectura/build/
/Admin_lectura/dist/
/ExS_Models/dist/
/ExS_DB/dist/
/ExS_Log/dist/
/ExS_Models/build/
/Libraries/JExcel/Java_to_Excel/dist/
/ExS_Admin_1.3/nbproject/private/
/ExS_Admin_1.3/build/
/ExS_Admin_LECTURA/nbproject/private/
/ExS_Admin_LECTURA/build/
/ExS_Admin_LECTURA/dist/